<div class="container">

    <div class="row">
        <div class="col-md-6 offset-3">
         <form  [formGroup]="projectUpdate" (ngSubmit)="updateProject()">
         
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input  type="text"
                        class="form-control"
                        id="projectName"
                        name="projectName"
                        formControlName="projectName"
                        aria-describedby="emailHelp">

                <span *ngIf="projectUpdate.controls['projectName'].touched && !projectUpdate.controls['projectName'].valid">

              
                    <span *ngIf="projectUpdate.controls['projectName'].hasError('required')">
                        Project Name is required !
                    </span>
                    
                    <span *ngIf="projectUpdate.controls['projectName'].hasError('minlength')">
                        Project Name should be minimum 2 characters !
                    </span>

                    <span *ngIf="projectUpdate.controls['projectName'].hasError('maxlength')">
                        Project Name should be maximum 40 characters !
                    </span>

                </span>
            </div>

            <div class="form-group">
                <label for="startDate">Project Start Date</label>
                <input  type="date"
                        class="form-control"
                        id="startDate"
                        name="startDate"
                        formControlName="startDate"
                        aria-describedby="emailHelp">

                        <span *ngIf="projectUpdate.controls['startDate'].touched &&  !projectUpdate.controls['startDate'].valid">
                        
                            <span *ngIf="projectUpdate.controls['startDate'].hasError('required')">
                                Project Start Date is required !
                            </span>
                            
                            <span *ngIf="projectUpdate.controls['startDate'].hasError('minlength')">
                                Project Start Date should be minimum 8 digits !
                            </span>
        
                            <span *ngIf="projectUpdate.controls['startDate'].hasError('maxlength')">
                                Project Start Date should be maximum 10 digits !
                            </span>
        
                        </span>
            </div>

            <div class="form-group">
                <label for="endDate">Project End Date</label>
                <input  type="date"
                        class="form-control"
                        id="endDate"
                        name="endDate"
                        formControlName="endDate"
                        aria-describedby="emailHelp">

                        <span *ngIf="projectUpdate.controls['endDate'].touched &&  !projectUpdate.controls['endDate'].valid">
                        
                            <span *ngIf="projectUpdate.controls['endDate'].hasError('required')">
                                Project End Date is required !
                            </span>
                            
                            <span *ngIf="projectUpdate.controls['endDate'].hasError('minlength')">
                                Project End Date should be minimum 8 digits !
                            </span>
        
                            <span *ngIf="projectUpdate.controls['endDate'].hasError('maxlength')">
                                Peoject End Date should be maximum 10 digits !
                            </span>
        
                        </span>
            </div>

            <div class="form-group">
                <label for="projectStatus">Project Status</label>
                <input  type="text"
                        class="form-control"
                        id="projectStatus"
                        name="projectStatus"
                        formControlName="projectStatus"
                        aria-describedby="emailHelp">

                <span *ngIf="(projectUpdate.controls['projectStatus'].touched) && (!projectUpdate.controls['projectStatus'].valid)">

              
                    <span *ngIf="projectUpdate.controls['projectStatus'].hasError('required')">
                        Project status is required !
                    </span>
                    
                    <span *ngIf="projectUpdate.controls['projectStatus'].hasError('minlength')">
                        Project status should be minimum 4 characters !
                    </span>

                    <span *ngIf="projectUpdate.controls['projectStatus'].hasError('maxlength')">
                        Project status should be maximum 40 characters !
                    </span>

                </span>
            </div>


            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"  >Save</button>
                <button type="reset" class="btn btn-primary"  >Reset</button>
            </div>
           
            
         </form>

        </div>
    </div>
