<div class="container">
    <table class="table">
            <thead>
                    <tr>
                            <th scope="col">Allocate Project ID</th>
                            <th scope="col">Allocate Project Status</th>
                             <th scope="col">Action</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of allocateProjectList">
                        <td>{{data.allocateProjectId}}</td>
                        <td>{{data.projectStatus}}</td>
                        <td><a><i routerLink="/admin-dashboard/updateallocateProject/{{data.allocateProjectId}}" style="color:darkgreen;" class="fa fa-pencil-square-o"aria-hidden="true"></i></a><a><i style="color: red;" (click)="deleteAllocateProject(data.allocateProjectId)"class="fa fa-trash"aria-hidden="true"></i></a></td> 
             </tr>
         </tbody>
        
                      
                
               
                
                
    </table>
</div>